<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="DBConnectionString" connectionString="server=172.16.0.18;database=XRMMaintenanceDB;uid=yashpals;pwd=839126B2@" providerName="System.Data.SqlClient" />-->
    <!--<add name="DBSelfServiceReports_Dev_XRMMaintenanceDB" connectionString="server=172.16.0.18;database=XRMMaintenanceDB;uid=yashpals;pwd=839126B2@" providerName="System.Data.SqlClient" />-->
    <!--<add name="DBSelfServiceReports_QA_XRM_QA" connectionString="server=172.16.0.18\SQL2017,1434;database=XRM_QA;uid=sa;pwd=acro!321" providerName="System.Data.SqlClient" />-->
	  <!--<add name="DBSelfServiceReports_QA_XRM_QA" connectionString="server=172.16.0.18\SQL2017,1434;database=XRM_QA;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="DBSelfServiceReports_QA_XRM_QA" connectionString="server=172.16.0.18\SQL2017,1434;database=QA_AugOne;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="DBConnectionString" connectionString="server=172.16.0.18\SQL2017,1434;database= XRMPitneyBowesLive_20210224;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="DBSelfServiceReports_XRMQA" connectionString="server=172.16.0.18;database=XRMMaintenanceDB;uid=yashpals;pwd=839126B2@" providerName="System.Data.SqlClient" />-->
	  <add name="DBSelfServiceReports_QA_XRM_QA" connectionString="server=172.16.0.18\SQL2017,1434;database=XRM_QA;uid=yashpatel;pwd=Acro@123"  providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime maxQueryStringLength="2097151" targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <appSettings>
	  <add key="dotNetReport.apiurl" value="http://localhost/dotnetreportservice825" />
    <!--<add key="dotNetReport.apiurl" value="http://localhost/dotnetreportservice6032Acro" />-->
	<!--<add key="dotNetReport.apiurl" value="http://staging.acroxrm.com/dotnetreportservice" />-->
    <add key="dotNetReport.accountApiToken" value="cbce7d6e-143c-458a-8078-e9b80b2395c0" />
    <add key="dotNetReport.dataconnectApiToken" value="63f3d004-a0a7-4d33-8e0b-3f80129855ca" />
    <add key="dotNetReport.privateApiToken" value="1e594675-bc56-44ef-81ca-85a3cc546551" />
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>